.wrap{
    width: 70%;
    padding: 1rem;
}

.wrap input{
    outline: none;
    border: 1px solid  #DBDBDB;
    padding: 7px;
    background-color:  #FAFAFA;
    width: 100%;
    border-radius: 3px;
}

.picName,.OldPass,.NewPass,.ConfirmPass{
    display: flex;
    align-items: center;
    margin: 2rem 0;
}
.picName p{
    font-weight: 600;
}
.picName .pic,.OldPass p,.NewPass p,.ConfirmPass p{
    margin-right: 1rem;
    font-weight: 600;
    width: 30%;
    text-align: right;
}
.picName .pic img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.btns{
    width: 30%;
    margin: auto;
}
.btns button:first-child{
    display: block;
    background-color: rgba(0, 149, 246, .3);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    outline: 0;
    border: 0;
    padding: 5px;
    cursor: pointer;
    /* width: 90%;
    height: 29px; */
    border-radius: 3px;
    border: 1px solid rgb(202, 202, 202);
    margin-bottom: 1rem;
}

.btns button:last-child{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    color:  #385185;
    font-weight: 550;
}

@media only screen and (max-width: 600px){
    .wrap{
        width: 100%;
    }
    .picName .pic,.OldPass p,.NewPass p,.ConfirmPass p{
        text-align: left;
        width: 50%;
    }
    .picName,.OldPass,.NewPass,.ConfirmPass{
        display: block;
    }
    .picName .pic,.picName p{
        width: 100%;
        text-align: center;
    }
}