.comment {
    display: flex;
    justify-content: space-between;
    margin: 0.7rem 0;
    font-size: 14px;
}
.comment div:first-child{
    padding-right: 0.5rem;
}
.comment div a {
    text-decoration: none;
    color: #262626;
    margin-right: 0.5rem;
    font-weight: 600;
}

.comment div a:hover{
    text-decoration: underline;
}
.picUsername{
    display: flex;
}
.profilePic{
    display: flex;
}
.profilePic img{
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
}
.heart_red {
    color: red;
    animation-name: pulse;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
}
.commentInfo{
    display: flex;
    align-items: center;
}
.commentInfo p{
    font-size: 12px;
    color: #999999;
}
.commentInfo p:last-child{
    margin-left: 1rem;
}
.moreDetailwrap{
    display: flex;
    align-items: center;
}
.verifiedBadge{
    width: 15px;
    height: 15px;
    margin-right: 0.5rem;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    80% {
        transform: scale(0.8);
    }

    100% {
        transform: scale(1);
    }
}