.wrap{
    width: 70%;
}

.wrap input,.wrap textarea{
    outline: none;
    border: 1px solid  #DBDBDB;
    padding: 7px;
    background-color:  #FAFAFA;
    width: 100%;
    border-radius: 3px;
}
.wrap textarea{
    resize: vertical;
}
.picName,.OldPass,.NewPass,.ConfirmPass{
    display: flex;
    align-items: center;
    margin: 1rem 0;
}
.picName p{
    font-weight: 600;
}
.picName div button{
    color: #0095F6;
}
.picName .pic,.OldPass p,.NewPass p,.ConfirmPass p{
    margin-right: 1rem;
    font-weight: 600;
    width: 30%;
    text-align: right;
}
.picName img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.btns{
    width: 30%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}
.btns button:first-child{
    display: block;
    background-color: rgba(0, 149, 246, .3);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    outline: 0;
    border: 0;
    padding: 5px;
    cursor: pointer;
    /* width: 90%;
    height: 29px; */
    border-radius: 3px;
    border: 1px solid rgb(202, 202, 202);
}

.btns button:last-child,.picName button{
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    color:  #385185;
    font-weight: 550;
}

@media only screen and (max-width: 600px){
    .wrap{
        width: 100%;
    }
    .picName,.OldPass,.NewPass,.ConfirmPass{
        display: block;
        align-items: unset;
        padding: 0.2rem;
    }
    .OldPass p,.NewPass p,.ConfirmPass p{
        text-align: unset;
    }
    .btns{
        width: unset;
        margin-top: 2.5rem;
    }
    .picName .pic{
        width: 100%;
        text-align: center;
    }
}