.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #DBDBDB;
    z-index: 10;
}

.userInput {
    background-color: rgb(248, 248, 248);
    color: #8E8E8E;
    outline: 0;
    border: 0;
    padding: 9px 25px;
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgb(202, 202, 202);
    text-align: center;
    width: 100%;

}

.userInput:focus {
    text-align: left;
}

.serachIcon {
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 5%;
    font-size: 12px;
    color: #8E8E8E;
}

.heading {
    width: 30%;
    font-size: 18px;
    text-align: center;
    word-spacing: 0px;
    text-decoration: none solid rgb(38, 38, 38);
    white-space: nowrap;
    font-family: 'Lobster Two', cursive;
    margin: 1rem;
    color: #252525;
    /* text-align: center; */
}

.heading a {
    text-decoration: none;
    color: #252525;
}

.serachBar {
    min-width: 240px;
    position: relative;
}

.navLinks {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.searchIcon {
    color: #333;
    font-size: 1.5rem;
}
.notifi{
    margin: 0 0.6rem;
}
.notifi:focus-within   .notifications {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0);
}
.notifi:focus + .notifiBtn{
    background-color: #333;
}
.notifications {
    pointer-events: none;
    opacity: 0;
    position: absolute;
    /* width: 100%; */
    background-color: #fff;
    border: 2px solid #DBDBDB;
    bottom: 100%;
    /* right: 50%; */
    right: 10px;
    border-radius: 10px;
    left: 10px;
    transform: translateY(-15px);
    transition: all 0.25s ease-in-out;
    z-index: 10;
}
.notificationsList{
    padding: 0.5rem;
    max-height: 200px;
    overflow-y: auto;
}
.notification{
    color: #333;
    margin: 0.5rem 0;
}
.notification a{
    text-decoration: none;
    color: #0095F6;
    margin: 0;
} 
.notifi .notifiBtn{
    background-color: transparent;
}

.someLinks {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.notifi button {
    outline: none;
    border: 0;
    cursor: pointer;
}

.rightIcons {
    background-color: #FFFFFF;
    color: rgb(214, 214, 214);
    font-size: 25px;
}

.userProfilePic {
    cursor: pointer;

}

.userProfilePic img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.someLinks .navItem,
.userProfilePic {
    margin: 0 0.6rem;
}

.usersList::-webkit-scrollbar {
    display: none;
}

.usersList {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    position: absolute;
    background-color: #fff;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 200px;
    overflow-y: scroll;
    padding: 0.8rem;
}

.user {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: 2px solid #DBDBDB;
}

.user a {
    font-weight: 600;
    text-decoration: none;
    color: #333;
}

.user img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 0.3rem;
}

.notFound {
    color: rgb(177, 177, 177)BDB;
}

@media only screen and (max-width: 775px) {
    .heading {
        width: 10%;
    }
}

@media only screen and (max-width: 610px) {
    .serachBar {
        display: none;
    }

    .navLinks {
        justify-content: space-between;
    }

    .someLinks {
        position: fixed;
        bottom: 0;
        right: 0;
        width: 100%;
        left: 0;
        z-index: 99;
        background-color: #fff;
        padding: 0.5rem;
        justify-content: space-around;
        width: 100%;
        border-top: 1px solid #DBDBDB;
    }

}
@media only screen and (min-width: 600px){
    .notifications{
        bottom: unset;
        top: 100%;
        left: unset;
        right: 10%;
    }
}
@media only screen and (max-width: 400px) {
    .NavIcons {
        height: 20px;
        width: 20px;
    }

}