.profileWrapper{
 position: fixed;
    top: 88px;
    left: 70%;
}
.profile{
    z-index: 11;
    padding: 1rem;
}

.head{
    display: flex;
    align-items: center;
    margin: 0.5rem  0;
}
.profileinfo a{
    text-decoration: none;
    color: #333;
}
.profileImg{
    margin: 0 0.5rem;
}
.profileinfo{
    margin-right: 1rem;
}

.profileImg img{
    width: 56px;
    height: 56px;
    object-fit: cover;
    border-radius: 50%;
}
.suggeprofileImg img{
    width: 40px;
    height: 40px;
}
.username{
    font-size: 14px;
    font-weight: 600;
}

.fullName{
    color: #8E8E8E;
    font-size: 14px;
}

.suggestions{
    margin-top: 1rem;
}

.suggepara{
    color: #8E8E8E;
    margin: 1rem 0 1rem 10px;
}
.verifiedBadge{
    width: 15px;
    height: 15px;
    margin: 0 0.5rem;
}
.usernameVeriWrap{
    display: flex;
    align-items: center;
}
.followBtn,.followingBtn{
    position: relative;
    border: none;
    outline: none;
    background-color: transparent;
    color: #fff;
    background-color: #0095F6;
    cursor: pointer;
    padding: 0.3rem 1.5rem;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-weight: 600;
}
.followingBtn{
    background-color: transparent;
    color: #333;
}
.followBtnWrap{
    margin-left: auto;
}
.bottomLinks{
    display: flex;
    padding: 1rem;
    width: 70%;
    flex-wrap: wrap;
}
.bottomLinks a{
    font-size: 11px;
    margin: 0.3rem;
    color:  #C7C7C7;
}
.creditInfo{
    padding: 1rem;
    font-size: 11px;
    color: #C7C7C7;
}
.creditInfo a{
    text-decoration: none;
    color: #0095F6;
    margin-left: 0.2rem;
}

.creditInfo i{
    color: red;
}
.accountSuggestions{
    max-width: 300px;
}
@media only screen and (max-width: 1000px){
    .profileWrapper{
        display: none;
    }
}