:root {
    --b3f: 250,250,250;
}
.profileWrap{
    width: 80%;
}
.wrap{
    /* width: 50%;
    margin: auto; */
    padding-top: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
.profilePic{
    position: relative;
    margin-right: 5rem;
}
.profilePic img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    cursor: pointer;
}

.secone{
    display: flex;
    align-items: center;
    font-size: 28px;
    color: #262626;
    margin: 1rem 0;
    
}

.secone p{
    margin-right: 2rem;
    font-weight: 300;
}
.secone a,.secone .seconeBtn,.secOnemobile a{
    font-size: 0.8rem;
    cursor: pointer;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    margin-right: 1rem;
    background-color: transparent;
    outline: none;
    border: 1px solid rgb(199, 199, 199);
    border-radius: 5px;
    padding: 5px 10px;
}

.secone a.secOnemobile a{
    font-size: 14px;
}
.secOnemobile{
    display: none;
    margin: 1rem 0;
}
.editProLinkM{
    width: 100%;
    display: block;
    text-align: center;
}

.secone .seconeBtn:last-child{
    border: 0;
    font-size: 1.3rem;
    display: flex;
}

.sectwo{
    font-size: 1rem;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sectwo p,.sectwo button,.followInfo button{
    color: #262626;
    outline: none;
    border: none;
    font-size: 1rem;
    margin-right: 1rem;
    background-color: transparent;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sectwo p,.sectwo button{
    margin-right: 2rem;
}
.sectwo button{
    cursor: pointer;
}
.secthree h1{
    font-size: 1rem;
    font-weight: 600;
}
.secthree p:last-child{
    margin-top: 0.2rem;
}

.hrline{
    /* width: 50%;
    margin: auto; */
    margin-top: 3rem;
    
}
.hrline hr{
    border-top: 1px solid  #DBDBDB;
    width: 70%;
    margin: auto;
}

.posts{
    /* width: 50%;
    margin: auto; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.posts p{
    margin-left: 5px;
}

.followBtnwrap .followBtn{
    outline: none;
    border: 0;
    background-color: #0095F6;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border-radius: 0.2rem;
}
.followingBtn{
    background-color: transparent;
    border: 1px solid  #DBDBDB;
    outline: none;
    padding: 0.3rem 0.5rem;
    font-size: 1rem;
    color: #262626;
    cursor: pointer;
    border-radius: 0.2rem;
}
.postsIcon{
    display: flex;
    font-size: 1.3rem;
}

.sharePhotos{
    margin: 2rem auto;
    text-align: center;
}

.postsMainWrap{
    max-width: 850px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.cameraIcon{
    font-size: 5rem;
}
.text{
    font-size: 2rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.textOne{
    font-size: 2rem;
}
.textTwo{
    margin: 1rem 0;
}

.uploadLink button{
    outline: none;
    border: 0;
    color: #0095F6;
    background-color: transparent;
    font-size: 1.1rem;
    cursor: pointer;
}
.mobileFollowInfo{
    margin-top: 2rem;
    border-top: 2px solid #DBDBDB;
    padding: 0.5rem 0;
    border-bottom: 2px solid #DBDBDB;
    display: none;
}
.followInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    padding: 0.3rem;
}
.followInfo b{
    display: block;
    text-align: center;
}

@media only screen and (max-width: 735px){
    .sectwo{
        display: none;
    }
    .mobileFollowInfo{
        display: block;
    }
    .profilePic img{
        height: 75px;
        width: 75px;
        margin: 0;
    }
    .profilePic{
        margin-right: 1rem;
    }
    .profileWrap{
        width: auto;
    }
    .wrap{
        justify-content: start;
        padding-top: 3rem;
    }
    .hrline{
        margin-top: 0;
    }
    .editProLink{
        display: none;
    }
    .secOnemobile{
        display: block;
    }
    .profileInfo{
        width: 70%;
    }
    .hrline hr{
        display: none;
    }
}

@media screen and (max-width: 580px){
   .postsMainWrap{
       display: block;
       flex-wrap: nowrap;
   }
}