.customAlert{
    position: fixed;
    left: 0;
    right: 0;
    background-color: #333;
    padding: 0.5rem;
    animation-name: alert;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;

}
.customAlert p{
    color: #fff;
}

@keyframes alert{
    0%{
        bottom: -5%;
    }
    25%{
        bottom: 0;
    }
    50%{
        bottom: 0;
    }
    75%{
        bottom: -5%;
    }
    100%{
        visibility: hidden;
    }
    
}